#footer {
    background-color: #1a2930;
    padding: 70px 20px;
    color: #f1f1f1;
    .description {
        text-align: justify;
        font-size: 14px;
        line-height: 2;
    }

    .main-title {
        font-size: 16px;
        font-weight: 400;
        color: #f1f1f1;
        margin-bottom: 20px;
        &:after {
            width: 3px;
            height: 30px;
        }
    }

    .informations {
        li {
            margin-bottom: 10px;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.7;
            .title {
                color: #F9CE00;
            }
        }
    }

    .footer-social-media {
        a {
            color: rgba(255, 255, 255, .6);
            padding-top: 6px;
            padding-bottom: 6px;
            transition: all .3s;
            &:hover {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
}

#copyright {
    background-color: darken(#1a2930, 5%);
    color: #fff;
    font-size: 12px;

    span {
        color: #F9CE00;
    }
}