#myFooter {
    background-color: #112736;
        color: white;
        padding-top: 20px;
        // margin-top: 40px;
    }
        #map-container {
        height: 240px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
    }
        #myFooter .row {
        margin: 0 85px;
    }
     #myFooter ul {
        list-style-type: none;
    }
        #myFooter h5 {
        font-size: 15px;
        color: white;
        font-weight: bold;
        margin-top: 30px;
    }
    
    #myFooter a {
        color: #d2d1d1;
        text-decoration: none;
    }
    
    #myFooter a:hover,
    #myFooter a:focus {
        text-decoration: none;
        color: white;
    }
    
    #myFooter .social-networks {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 38px;
    }