#teachers {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url('../assets/images/4083365.jpg') center center/ cover;
    background-attachment: fixed;
    padding: 50px 0px;
    color: #fff;
}



.our-team{
    text-align: center;
    border-radius: 3px;
    padding: 16px 0px;
}

// .our-team.even {
//     background-color: #F9CE00;
// }

// .our-team.odd {
//     background-color: #059b9b;
// }

.our-team .pic{
    position: relative;
}
.our-team .pic img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
}
.social_media_team{
    background: rgba(59, 61, 66, 0.6);
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.35s ease-in-out 0s;
    visibility: hidden;
    position: absolute;
    top:0;
    left:25%;
    width: 50%;
    height: 100%;
    text-align: center;
}
.our-team:hover .social_media_team{
    
    transform:scale(1,1);
    visibility: visible;
}
.team_social{
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    position: relative;
    top:43%;
    left:0;
}
.team_social > li{
    display: inline-block;
}
.team_social > li > a{
    width: 35px;
    height: 35px;
    display: block;
    background: #08c5ff;
    line-height: 35px;
    color:#fff;
    transition: all 0.35s ease-in-out 0s;
    border-radius: 3px;
    font-size: 15px;
}
.team_social > li > a:hover{
    background: #F9CE00;
}
.post-title > a{
    color:#fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-transform: capitalize;
}
.post-title > a:after{
    content:"|";
    color: #31aab5;
    display: inline-block;
    padding: 0 5px 0 10px;
}
.post-title small{
    color:#fff;
    font-size: 12px;
}
.description{
    color:#fff;
}
.read{
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    color:#31aab5;
}
.read:hover{
    color:#fff;
}