#timeline {
    padding: 50px 0px;
    background: #f9f9f9;
    overflow: hidden;
    a {
        color: #111;
    }

    .timelines, .timeline-item {
        position: relative;
    }

    .timelines {
        padding: 2em 0;
    }

    .timeline-item {
        margin: 2em 0;
    }

    .timeline-item:nth-child(even) {
        margin-bottom: 0;
        .timeline-body {
            float: none;
            background-color: #f78ca0;
            color: #000;
            @media(min-width: 992px) {
                float: left;
            }
            &:after {
                right: -30px;
                border-right-color: transparent;
                border-left-color: #f78ca0;

            }

        }
    }

    .timelines:before {
        position: absolute;
        content: "";
        display: block;
        width: 3px;
        top: 0;
        right: 30px;
        bottom: 0;

        background-color: #f9ce00 ;
        @media(min-width: 992px) {
            right: 50%;
        }
    }

    .timelines:after, .timeline-item:after {
        content: "";
        display: table;
        clear: both;
    }



    .timeline-icon {
        position: absolute;
        right: 0;
        margin-right: -7px;
        z-index: 1;
        padding: 15px;
        background-color: #fff;
        border-radius: 50%;
        border: 3px solid #f9ce00;
        @media(min-width: 992px) {
            right: 50%;
            margin-right: -36px;
        }

        img {
            width: 40px;
            height: 40px;
        }
    }

    .timeline-body {
        width: 80%;
        padding: 20px;
        margin-right: 90px;
        background: #059b9b;
        border-radius: 3px;

        position: relative;
        color: #f1f1f1;
        @media(min-width: 992px) {
            width: 44%;
            margin-right: 0px;
        }

        &:after {
            content: "";
            position: absolute;
            top: 26px;
            display: block;
            width: 0;
            height: 0;
            right: -30px;
            border: 15px solid transparent;
            border-left-color: #059b9b;
            @media(min-width: 992px) {
                left: -30px;
                border: 15px solid transparent;
                border-right-color: #059b9b;
                right: unset;
                
            }
        }
        h3 {
            font-size: 22px;
            font-weight: 400;
            margin-top: 0;
            padding-bottom: 10px;
        }
        p {
            font-size: 14px;
            line-height: 2;
        }
    }


}

















