.main-timeline{
    padding: 30px 0;
}
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline:before{
    content: '';
    background-color: rgb(23, 7, 168);
    height: 100%;
    width: 5px;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
}
.main-timeline .timeline{
    width: 50%;
    padding: 0 100px 0 0;
    margin: 0 10px 20px 0;
    float: left;
    position: relative;
    z-index: 1;
    
}
.main-timeline .timeline:before{
    content: '';
    background-color: #08c5ff;
    height: 5px;
    width: 80px;
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: -1;
}
.main-timeline .timeline-content{
    color: rgb(0, 0, 0);
    background-color: #08c5ff;
    text-align: center;
    padding: 0 0 10px;
    border-radius: 20px;
    display: block;
    
}

.main-timeline .timeline-circle{
    color: #121365;
    background: linear-gradient(to right,#059b9b,#0ae7e7);
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    right: -50px;
    top: 0;
    z-index: 1;
}
.main-timeline .timeline-circle:before{
    content: '';
    background-color: rgb(255, 255, 255);
    height: 80%;
    width: 80%;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
}
.main-timeline .timeline-icon{
    color: #121365;
    font-size: 35px;
}
.main-timeline .title{
    color: rgb(0, 0, 0);
    background: linear-gradient(to right,#059b9b,#0ae7e7);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 0 10px;
    border-radius: 20px 20px 0 0;
}
.main-timeline .text{
    font-size:15px;
    letter-spacing: 1px;
    margin: 0 15px;
}
.main-timeline .timeline:nth-child(even){
    padding: 0 0 0 100px;
    margin: 0 0 20px 10px;
    float: right;
}
.main-timeline .timeline:nth-child(even):before{
    right: auto;
    left: 50px;
    background-color: #F9CE00;
}
.main-timeline .timeline:nth-child(even) .timeline-circle{
    right: auto;
    left: -50px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    right: auto;
    left: 20px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    background-color: #F9CE00;
}
.main-timeline .timeline:nth-child(even) .timeline-circle,
.main-timeline .timeline:nth-child(even) .title{
    background: linear-gradient(to right,#b6ca03,#FBB508);
}
