.coll{
    margin: 50px auto;
    text-align: center;
    color: rgb(226, 4, 71);
}
.header1{
    height: 50px;
    margin: 50px auto;
    padding: 15px;
    border-color: rgb(226, 4, 71);
    font-size: larger;
}